body{
  background: rgb(1, 38, 54);
  color: white;
  font-family: 'Mitr', sans-serif;
}

#root{
  margin: 0 auto;
  width: 45%;
  position: relative;
  height: 100vh;
}

@media (max-width: 900px) {
  #root{
    width: 100%;
  }
}